<app-spinner *ngIf="!isLoaded"></app-spinner>

<div class="team-header">
  <img class="team-icon" [src]="team.image" (error)="teamsService.setDefaultImage($event)">
  <h1>List of team players</h1>
  <p *ngIf="this.error404">Sorry, API server with Teams is not responding right now.</p>
  <div class="team-header__buttons">
    <button class="btn" (click)="cacheService.addFavoriteTeam(team.name); checkFavorite(team.name)"
    *ngIf="!isFavorite">
      Add to Favorites
    </button>
    <button class="btn" (click)="cacheService.removeFavoriteTeam(team.name); checkFavorite(team.name)"
    *ngIf="isFavorite">
      Remove from Favorites
    </button>
    <button class="btn" routerLink="/teams">Return</button>
  </div>
</div>
<div class="card-grid">
  <a class="card" *ngFor="let player of teamPlayers" mat-button (click)="openDialog(player)">
    <p>{{player.name}}</p>
    <img [src]="player.photo" (error)="playerService.setDefaultImage($event)">
  </a>
</div>
