.team-header {
  width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  &__buttons {
    margin-left: auto;
  }
  & > h1 {
    margin-left: 30px;
  }
}

.team-icon {
  height: auto;
  max-width: 200px;
}

.card-grid {
  margin: auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
}

.card {
  width: 277px;
  height: 240px;
  cursor: pointer;
}