<app-spinner *ngIf="!isLoaded"></app-spinner>

<p *ngIf="this.error404">Sorry, API server with Players is not responding right now.</p>

<div class="card-grid">
  <a class="card" *ngFor="let player of playersPerPage" mat-button (click)="openDialog(player)">
    <p>{{player.name}}</p>
    <img [src]="player.photo" (error)="playerService.setDefaultImage($event)">
  </a>
</div>

<mat-paginator [length]="paginatorLength"
               [pageSize]="pageSize"
               [hidePageSize]="true"
               (page)="pageEvent($event)">
</mat-paginator>
