<app-spinner *ngIf="!isLoaded"></app-spinner>

<div class="players-header">
  <h1>Favorite Players</h1>
</div>

<div class="card-grid" *ngIf="playersExist; else noContent">
  <a class="card card_favorite-card" *ngFor="let player of favoritePlayers" (click)="openDialog(player)">
    <p>{{player.name}}</p>
    <img class="team-icon" [src]="player.photo" (error)="playersService.setDefaultImage($event)">
    <button class="btn card__remove-btn" (click)="removeFavoritePlayer(player.name, player.surname)">X</button>
  </a>
</div>

<ng-template #noContent>
  <span class="wrapper">You don't have favorite players.
    <a routerLink="/players">Want to add one?</a>
  </span>
</ng-template>
